extends layout

block content
  include partials/nav3
  
  main.postpaid
    h1 Create Post
    form(action="/post/create-post/" method="post" id="form")
      label(id="t") 1) Add Title
      input(type="text" name="title")
      label 2) Choose Your Meme
      div(class="editor_wrapper")
        div(class="image_wrapper")
          each image in images
            img(src=`https://api.memeit.lol/v1/thumbnail/${image}`
            onclick=`editor.addBackgroundImage('https://api.memeit.lol/v1/meme/${image}');$('html, body').animate({scrollTop: $("#t").offset().top}, 500);`)
        div(class="image_wrapper")
          each category in stickers
            each sticker in category.images
              img(src=`https://api.memeit.lol/v1/sticker/${category.category}/${sticker}`
              onclick=`editor.addSticker('https://api.memeit.lol/v1/sticker/${category.category}/${sticker}');$('html, body').animate({scrollTop: $("#t").offset().top}, 500);`)
        canvas(id="canvas")
      button(id="add" onclick="editor.addText();") Add A TextBox
      label 4) Add Tags (Separated by commas)
      input(type="text" name="tags")
      input(type="hidden" name="image" id="image")
      input(type="hidden" name="objects" id="objects")
      button(id="submitBTN") Submit
      p Posting as #{name}
  script(src="/js/editor.js")
