extends layout

block customMeta
  meta(property="og:image" content=i.image)
  meta(property="og:url" content=i.url)
  meta(property="og:title" content=i.title)
  meta(property="og:type" content="article")
  meta(property="twitter:image" content=i.image)
  meta(property="twiitter:card" content='summary_large_image')
  meta(property="twitter:title" content=i.title)

block content
  include partials/nav3

  main
    img(src=i.img class='author-img' height='35' width='35')
    span(class="overlay__author-username")
      a(onclick=`window.location = '/@${i.author}'` href="javascript:void(0);") #{i.author}
    div(class="tags") !{i.tags}
    h2(class="title") #{i.title}
    div !{i.body}
    if logged
      div.postControls
        button.vote(onclick=`window.location = '/post/vote/@${i.author}/${i.permlink}'`): i(class="fas fa-chevron-circle-up")
        span.payout $ #{i.payout.potentialPayout}
        span.memeply Memeply  
        button.comment(onclick=`window.location = '/post/comment/@${i.author}/${i.permlink}'`): i(class="fas fa-pen-square")
    div.comments
      for comment in i.comments
        div.comment
          a(href=`/@${comment.author}`) #{comment.author}
          div !{comment.body}
